<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Fillow - Sign Up</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/auth.css">
</head>
<body>
  <div class="auth-container">
    <h2>Sign Up</h2>
    {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
        <div class = "flash-messages">
          {% for category, message in messages %}
            <div class = "flash-message {{ category }} ">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form id="signup-form">
      <input name ="Username" type="text" placeholder="Username" required>
      <input name = "Email" type="password" placeholder="Password" required>
      <input name = "Confirm Password" type="confirm password" placeholder="Confirm Password" required>
      <input name = "Monthly Income" type="monthly income" placeholder="Monthly Income" required>
      <input name = "Saving Percentage" type="saving percentage" placeholder="Saving Percentage" required>
      <button type="submit" class="btn">Sign Up</button>
    </form>
    <div class="toggle-link">
      Already have an account? <a onclick="window.location.href= '/login' ">Sign In</a>
    </div>
  </div>
  <script src="/static/auth.js"></script>
</body>
</html>